<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ams.search.dao.mapper.HotWordMapper">

    <resultMap id="BaseResultMap" type="com.ams.search.model.HotWord">
            <result property="words" column="words" jdbcType="VARCHAR"/>
            <result property="searchTime" column="search_time" jdbcType="TIMESTAMP"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        words,search_time,created_time
    </sql>
    <select id="getTop" resultType="java.util.Map">
        SELECT g.words,COUNT(*) AS word_top FROM gg_hot_word g GROUP BY g.words ORDER BY word_top DESC LIMIT 10
    </select>

</mapper>
